{% import "_includes/forms" as forms %}


{{ craft.app.session.getFlash('notice') }}

{% if craft.app.session.hasFlash('message') %}
	{{ craft.app.session.getFlash('message') }}
{% endif %}

{% do view.registerAssetBundle("jmkelley\\dumptruck\\assetbundles\\dumptruck\\DumpTruckAsset") %}

{{ forms.selectField({
	label: 'Time Elapsed'|t('dumptruck'),
	instructions: '',
	id: 'timeElapsed',
	name: 'timeElapsed',
	options: {
		'1': '1 Day'|t('dumptruck'),
		'2': '2 Days'|t('dumptruck'),
		'3': '3 Days'|t('dumptruck'),
		'4': '4 Days'|t('dumptruck'),
		'5': '5 Days'|t('dumptruck'),
		'6': '6 Days'|t('dumptruck'),
		'7': '7 Days'|t('dumptruck'),
		'8': '8 Days'|t('dumptruck'),
		'9': '9 Days'|t('dumptruck'),
		'10': '10 Days'|t('dumptruck'),
	},
	value: settings.timeElapsed,
}) }}

{% set sectionsArr = [] %}
{% for section in craft.app.sections.allSections() %}
	{% if section.type == 'channel' or section.type == 'structure' %}
		{% set sectionsArr = sectionsArr|merge([{value: section.id, label: section.name}]) %}
	{% endif %}
{% endfor %}

{{ forms.checkboxSelectField({
	label: 'Sections'|t('dumptruck'),
	instructions: '',
	id: 'channels',
	name: 'channels',
	options: sectionsArr,
	values: settings.channels,
	warning: false
}) }}
<div class="btnSettings field">
	<div id="btnSaveSettings"><button type="submit" class="btn submit">Save Settings</button></div>
	<div id="btnDeleteEntries"><a href="{{ url('actions/dump-truck/dump') }}" class="btn submit delete icon">Delete Entries</a></div>
</div>
